<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--link rel="icon" href="<%= BASE_URL %>favicon.ico"-->
    <title>vue-app</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <!--script src="https://polyfill.io/v3/polyfill.min.js"></script-->
    <!--script src="//unpkg.com/tether@latest/dist/js/tether.min.js"></script-->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <!--script src="https://unpkg.com/@livelybone/vue-datepicker"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <App></App>
    </div>

    <script type="text/javascript">
      new Vue({
        el: '#app',
        components: {
          'App': httpVueLoader('components/App.vue'),
        },
      });
    </script>
  </body>
</html>
