<template>
  <div id="app">
    <b-container>
      <b-card>

        <lead></lead>

      </b-card>
    </b-container>
  </div>
</template>

<script>

module.exports =  {
    name: 'app',
    components: {
      'lead'      : httpVueLoader('components/Lead.vue'),
    },
    data(){
      return{
        //model:{},
      }
    },
    computed:{},
    created(){
    },
    mounted(){ },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
label{
  font-size: 11px;
}
</style>
