<template>

    <b-col  md="2" >
      <b-form-group
        :label=label
        :label-for=id
      >
        <b-form-input :id=id :name=id v-model=interno @input="$emit('update:model', interno )" trim></b-form-input>
      </b-form-group>
    </b-col>

</template>

<script>

module.exports =  {
  props:['label','id','model'],
  data(){
    return{
      interno:this.model,
    }
  },
  methods   :{ },
  computed  :{ },
  created() { },
  mounted() { },
  watch: {
   model: function () { this.interno = this.model },
  }
}
</script>

<style>
</style>
