<template>
  <div>
        <b-row>

          <b-col  md="3" >
            <b-media vertical-align="center" centered >
              <b-img src="logo.png" fluid alt="" centered />
            </b-media>
          </b-col>

          <b-col md="6">
            <b-form-group
              id="fieldset-1"
              label="Evento"
              label-for="input-1"
            >
              <b-form-select id="input-1" :options="options" v-model="selected" ><b-form-select/>
            </b-form-group>
          </b-col>

          <b-col md="3">
            <div align="right">
              <small>
                  <span>{{ moment(os.ts_criacao).format('DD/MM/YY HH:MM') }}</span><br>
                  <span>Cadastrado Por: {{ ((usuarios.lenght>0)&&(os.it_usuario != 0)) ? usuarios[os.it_usuario].vc_nome : '(Anonimo)' }}</span><br>
                  <span>Alterado Por: ???</span>
              </small>
            </div>
          </b-col>
          
        </b-row>

        <hr/>

        <b-row>

          <campo id='input-1'   label='Nro. OS'                   :model.sync="os.vc_os" >            </campo>

          <campo id='input-2'   label='Nro. Reserva Cli. [File]'  :model.sync="os.vc_nro_reserva" >   </campo>

          <campo id='input-3'   label='Titular'                   :model.sync="os.vc_titular" >       </campo>

          <b-col  md="2" >
            <b-form-group
              id="fieldset-4"
              label="Cliente"
              label-for="input-1"
            >
              <b-form-select id="input-4" v-model="os.it_cliente" :options="options" ><b-form-select/>
            </b-form-group>
          </b-col>

          <b-col  md="2" >
            <b-form-group
              id="fieldset-3"
              label="Faturamento"
              label-for="input-3"
            >
              <b-row>
                <b-col  md="3">
                  <b-form-input id="input-4" trim></b-form-input>
                </b-col>

                <b-col md="9">
                  <b-form-select id="input-5" :options="options"><b-form-select/>
                </b-col>
              </b-row>
            </b-form-group>
          </b-col>

          <campo id='input-1'   label='Deadline'                          :model.sync="os.vc_os" >      </campo>

          {{ os.vc_titular }}
          
        </b-row>
  </div>
</template>

<script>

module.exports =  {
  props:[],
  components:{
    'campo'      : httpVueLoader('components/Campo.vue'),
  },
  data(){
    return{
      usuarios    : {},
      os          : {},
      selected    : 'n',
      options     : [
        { value: 'n', text: 'N' },
        { value: '2', text: '2' },
        { value: '3', text: '3' },
        { value: '5', text: '5' },
        //{ value: 'd', text: 'This one is disabled', disabled: true }
      ]
    }
  },
  methods:{
    moment: function () {
      return moment();
    },
    index(){
      //axios.get('/crm/controlador_leads.php?os=9323').then(res=>{
      axios
        .get('/crm/ModelController.php?table=tb_leads&id=19075')
        .then(response => {
            this.os = response.data
            //this.os = Object.assign({}, response.data)
            console.log(JSON.stringify( this.os ))
            
        })
        .catch(error => {
          console.log(error)
        });
    },
    recebe_usuarios(){
      axios
        .get('/crm/ModelController.php?table=tb_usuarios')
        .then(response => {
            //this.usuarios = Object.assign({}, response.data)
            response.data.forEach( element => this.usuarios[element['sr_id']] = element );
        })
        .catch(error => {
          console.log(error)
        });
    }
  },
  computed:{},
  created(){
    this.recebe_usuarios();
    this.index();
  },
  mounted(){ }
}
</script>

<style>

</style>
